<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="home">
        <img alt="Brand" src="/assets/angular-meteor-shield-large.png" width="38px" height="40px">
      </a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" ng-click="revealCollapsed = !revealCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" collapse="!revealCollapsed">
      <ul class="nav navbar-nav navbar-left">
        <li ng-repeat="route in routes">
          <a ui-sref="{{route}}" ui-sref-active="active">
            {{route}}
          </a>
        </li>
      </ul>
      <div class="navbar-form navbar-right" ng-show="(!currentUser || !currentUser.profile.name) && !loggingIn">
        <button class="btn btn-primary nav-button" ng-click="openSignupModal()">
          Sign up
        </button>
        <button class="btn btn-default nav-button" ng-click="openLoginModal()">
          Log in
        </button>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" dropdown on-toggle="toggled(open)">
          <a href class="dropdown-toggle" dropdown-toggle>
            {{currentUser.profile.name}}
          </a>
          <ul class="dropdown-menu" ng-show="currentUser && currentUser.profile.name">
            <li><a href ng-click="logout()">logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>